:root {
    --vert-neon : #00FF86;
    --vert-pale : #26503C;
    --noir : #0f0f0f;
    --gris-moyen : #2C2D32;
    --gris-taupe : #4c4c4c;
    --gris-foncer : #323339;
    --gris-clair : #808184;
    --rouge : #F91119; 
    --blanc : #FFFFFF;
    --bleu : #00f;
    --jaune : #FFD500;
}
@media (prefers-color-scheme: light) {
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%; /* s’étend au moins sur la hauteur de la fenêtre, mais peut grandir */
}


body {
  display: flex;
  flex-direction: column;
  align-items: center; /* ou stretch selon le besoin */
  justify-content: center; /* centrer verticalement si tu veux */

  background-color: var(--noir);
}

main{
    background-color: var(--noir);
}

#app {
  flex: 1; /* occupe tout l’espace restant du body */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

p, h1, h2, h3, h4, h5, h6, li{
  color: var(--blanc);
}


.player {
  width: 100%;
  height: 100%;
  border: 3px solid var(--blanc);
  border-radius: 20px;
  background-color: #000;
}

iframe{
  width: 100%;
  height: 100%;
}
