:root {
  --primary-color: #2C2D32; 
  --secondary-color: #26503C; 
  --third-color: #ffffff; 
  --background-color: #0f0f0f; 
  --secondary-background-color: #2C2D32;
}



html, body {
  width: 100vw;
  height: 100vh; /* ou 100% + min-height: 100vh */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center; /* ou stretch selon le besoin */
  justify-content: center; /* centrer verticalement si tu veux */

  background-color: var(--background-color);
}

#app {
  flex: 1; /* occupe tout l’espace restant du body */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

p, h1, h2, h3, h4, h5, h6 {
  color: var(--third-color);
}
